{% extends "base.html" %}
{% load static %}
{% block body %}


    <body class="is_message">


        <!-- Main Contents -->
        <div class="main_content">

                <span uk-toggle="target: .message-content;" class="fixed left-0 top-36 bg-red-600 z-10 py-1 px-4 rounded-r-3xl text-white"> Users</span>

                <div class="messages-container">
                    <div class="messages-container-inner">


                        <div class="messages-inbox">
                            <div class="messages-headline">
                                <div class="input-with-icon" hidden>
                                    <input id="autocomplete-input" type="text" placeholder="Search">
                                    <i class="icon-material-outline-search"></i>
                                </div>
                                <h2 class="text-2xl font-semibold">Chats</h2>
                                <span class="absolute icon-feather-edit mr-4 text-xl uk-position-center-right cursor-pointer"></span>
                            </div>
                            <div class="messages-inbox-inner" data-simplebar>
                                <ul>
                                    {% for message in message_list %}
                                        {% if request.user == message.sender %}
                                            <li>
                                                <a href="{% url 'core:inbox_detail' message.receiver.username %}">
                                                    <div class="message-avatar"><i class="status-icon status-online"></i><img src="{{message.receiver.profile.image.url}}" alt=""></div>

                                                    <div class="message-by">
                                                        <div class="message-by-headline">
                                                            <h5>{{message.receiver.profile.full_name}}</h5>
                                                            <span style="font-size: 15px;"><small>{{message.date|timesince}} ago</small></span>
                                                        </div>
                                                        <p>{{message.message}}</p>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if request.user == message.receiver %}
                                            <li>
                                                <a href="{% url 'core:inbox_detail' message.sender.username %}">

                                                    <div class="message-avatar"><i class="status-icon status-online"></i><img src="{{message.sender.profile.image.url}}" alt=""></div>

                                                    <div class="message-by">
                                                        <div class="message-by-headline">
                                                            <h5>{{message.sender.profile.full_name}}</h5>
                                                            <span style="font-size: 14px;"><small>{{message.date|timesince}} ago</small></span>
                                                        </div>
                                                        <p>{{message.message}}</p>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endif %} 

                                    {% empty %}
                                        <li>
                                            <a href="#">
                                                <div class="message-by">
                                                    <div class="message-by-headline">
                                                        <h5>No messages yet</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}


                                </ul>
                            </div>
                        </div>


                        <div class="message-content">

                            <div class="messages-headline">
                                <div class="flex">
                                    <img class="mr-1" src="{{ receiver_detail.profile.image.url }}" style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%;" alt="">
                                    <h4 class="ml-1"> {{ receiver_detail.profile.full_name|title }} </h4>
                                </div>                                <a href="#" class="message-action text-red-500"><i class="icon-feather-trash-2"></i> <span class="md:inline hidden"> Delete Conversation</span> </a>
                            </div>
    
                            <div class="message-content-scrolbar" data-simplebar>
    
                                <!-- Message Content Inner -->
                                <div class="message-content-inner">
    


                                    {% for message in message_detail %}
                                        {% if message.sender == request.user %}
                                            <div class="message-bubble me">
                                                <div class="message-bubble-inner">
                                                    <div class="message-avatar"><img src="{{message.sender.profile.image.url}}" alt=""></div>
                                                    <div class="message-text">
                                                        <p>{{message.message}}</p>
                                                        <p style="font-size: 12px; color: rgb(199, 171, 171)">{{message.date | timesince}} ago</p>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        {% else %}
                                            <div class="message-bubble">
                                                <div class="message-bubble-inner">
                                                    <div class="message-avatar"><img src="{{message.sender.profile.image.url}}" alt=""></div>
                                                    <div class="message-text">
                                                        <p>{{message.message}}</p>
                                                        <p style="font-size: 12px; color: gray">{{message.date | timesince}} ago</p>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                                <!-- Message Content Inner / End -->
    
                                <!-- Reply Area -->
                                <div class="message-reply">
                                    <textarea id="chat-input" cols="1" rows="1" placeholder="Write Message"></textarea>
                                    <button id="send-btn" class="button ripple-effect">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <script>
            var receiver_id = "{{ receiver.username }}"; 
            var logged_in = "{{ request.user.username }}";
            
            const pathname = window.location.pathname;
            console.log(pathname);
        
            const parts = pathname.split("/");
            const username = parts[parts.length - 1];
            console.log(username);
        
            var receiver = (receiver_id === logged_in) ? receiver_id : username;
        
            var socket = new WebSocket("ws://" + window.location.host + "/ws/chat/" + receiver + "/");
        
            socket.onopen = function(){
                console.log("WebSocket connection established.");
            }
        
            socket.onclose = function(){
                console.log("WebSocket connection closed..");
            }
        </script>
        
        


    

    </body>

{% endblock body %}